@import url('https://fonts.cdnfonts.com/css/pokemon-solid');


body {
    margin: 0;
    overflow: hidden; /* Per impedire lo scrolling se il video è più piccolo del corpo */
}

#body-login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Imposta uno z-index maggiore di quello del video */
    text-align: center;
}

#buttonLogin{
    border: 0;
    font-family: 'Pokemon Solid', sans-serif;
    width: 150px;
    background: transparent;
    cursor: pointer;

}


#login-form {
    background-color: rgba(255, 255, 255, 0.8); /* Sfondo trasparente */
    padding: 30px;
    height: 330px;
    width: 400px;
    margin: 20px auto;
    border: black 3px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombra leggera */
    border-radius: 25px;


}

.text, .label-form, #register-link, #buttonLogin {
    color: #e67e22; /* Giallo simile a Pikachu */
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; /* Ombra di testo nera */
    font-family: 'Pokemon Solid', sans-serif;
    transition: color 0.3s ease;

}
/* Media query per schermi più piccoli */
@media screen and (max-width: 15.6in) {
    /* 15.6 pollici è un'ipotetica dimensione approssimata di uno schermo di un notebook da 15 pollici */

    .text {
        font-size: 20px; /* Dimensione del testo ridotta per schermi più piccoli */
    }
    .label-form{
        font-size: 15px;
    }
}
.text:hover, .label-form:hover, #register-link:hover, #buttonLogin:hover {
    color: red; /* Cambia il colore del testo al passaggio del mouse */
}

.label-form{
    font-size: 20px;
}

.formInput{
    border: 1px solid #ddd; /* Bordo grigio */
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 5px; /* Bordi arrotondati */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;


}


.formInput:focus {
    border-color: #3498db; /* Cambia il colore del bordo quando è in focus */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.8); /* Effetto ombra */
}

#register-link{
    font-size: 20px;
}

#background-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1; /* Imposta uno z-index più basso rispetto a #body-login */
    border: 2px solid #fff; /* Bordo bianco */

}
